
* {
    box-sizing: border-box;
}

/* Global Styles (Shared across pages) */
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope" ,"Helvetica Neue", Arial, sans-serif;
    font-size: 1.25rem;
    overflow-x: hidden;

    @media (width <= 750px) {
        font-size: 1.125rem;
    }
}

p {
    line-height: 1.4;
    margin-block-end: 1.5rem;

    @media (width <= 750px) {
        line-height: 1.45;
    }
}

footer {
    font-family: "Boldonse", Impact, "Arial Black", sans-serif;
    font-size: 1.85rem;

    @media (width <= 750px) {
        font-size: clamp(1.4rem, 5vw, 1.85rem);
    }
}

.footer-heading {
    text-decoration: none;
}

.footer-heading p {
    margin: 0;
    padding-block-start: 0.25rem;
    padding-block-end: 1.25rem;
    position: absolute;
    inline-size: 100%;
    text-align: center;

    @media (width > 750px) {
        padding-block-end: 1.5rem;
    }
}

img {
    max-inline-size: 100%;
    display: block;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width <= 750px) {
        padding-inline: 1rem;
    }
}

.two-column-layout {
    display: grid;

    @media (width > 750px) {
        grid-template-columns: 1fr 4fr;
        gap: 35px;
    }
}

.two-column-layout h2 {
    text-align: center;
}

.two-column-layout div {
    padding-inline: 0.5rem;
}

li {
    font-family: "Boldonse", Impact, "Arial Black", sans-serif;
    font-size: 1.85rem;
    font-weight: normal;

    @media (width <= 750px) {
        font-size: 1.4rem;
    }
}

/* Global Utility Classes */
.center-both {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Homepage specific styles */
.homepage {
    color: #0000ff; 
}

.homepage h2 {
    font-family: "Boldonse", Impact, "Arial Black", sans-serif;
    font-size: 2.75rem;
    font-weight: normal;
    line-height: 1.25;

    z-index: 2;

    @media (width <= 750px) {
        margin: 0;
        font-size: 3rem;
        padding-block: 0.5rem;
    }
}

.homepage .footer-heading {
    color: #0000ff;
}

.homepage .hero-image {
    margin: 0;
    margin-inline: auto;
    position: relative;
    inline-size: 100%;
    max-inline-size: 1000px;
    padding-inline: 2rem;

    @media (width <= 750px) {
        padding-inline: 0;
    }
}

@media (height > 600px) and (width > 750px) {
    .homepage .hero-svg-normal {
        display: block;
    }
    .homepage .hero-svg-wide {
        display: none;
    }
    .homepage .hero-svg-thin {
        display: none;
    }
    .homepage .hero-image {
        block-size: calc(100vh - 8rem);
    }
}

@media (height <= 600px) {
    .homepage .hero-svg-normal {
        display: none;
    }
    .homepage .hero-svg-wide {
        display: block;
    }
    .homepage .hero-svg-thin {
        display: none;
    }
    .homepage .hero-image {
        block-size: calc(100vh - 8rem);
    }
}

@media (height > 600px) and (width <= 750px) {
    .homepage .hero-svg-normal {
        display: none;
    }
    .homepage .hero-svg-wide {
        display: none;
    }
    .homepage .hero-svg-thin {
        display: block;
    }
    .homepage .hero-image {
        block-size: calc(100vh - 8rem);
    }
}

.homepage .themed-bg {
    background-color: #0027e8;
    color: #ffffff;
}

.homepage .homepage.text-section {
    padding-block: 2rem;

    @media (width <= 750px) {
        padding-block-end: 0.25rem;
    }
}

.homepage .text-section .text {
    @media (width <= 750px) {
        padding-block-start: 0.5rem;
    }
}

.homepage .portfolio-navigation {
    display: grid;
    padding-inline: 2rem;
    padding-block-start: 1rem;
    inline-size: 100%;
    max-inline-size: 450px;
    margin-inline: auto;

    @media (width > 750px) {
        grid-template-columns: 1fr 1fr;
        padding-inline: 0rem;
        padding-block: 0rem;
        max-inline-size: none;
    }
}

.homepage .portfolio-navigation .navigation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    position: relative; 
}

.homepage .portfolio-navigation .navigation-button img {
    position: absolute;
}

.homepage .portfolio-navigation .navigation-button .background {
    z-index: 1;
    max-inline-size: none;
    inline-size: 148%;
    block-size: auto;
}

.homepage .portfolio-navigation .navigation-button .foreground {
    z-index: 2;
    max-inline-size: none;
}

.homepage .portfolio-navigation .navigation-button .hitbox {
    z-index: 3;
    position: absolute;
    inline-size: 62.5%;
    block-size: 62.5%;
}

.homepage .portfolio-navigation .navigation-button .coding-cat-thumbnail {
    inline-size: 68%;
    block-size: auto;
    transform: translateX(9px);
}

.homepage .portfolio-navigation .navigation-button .high-dog-thumbnail {
    inline-size: 108%;
    block-size: auto;
}

.homepage .contact-list {
    list-style-type: none;
    padding-inline-start: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    @media (width <= 750px) {
        gap: 15px;
        padding-block-start: 1rem;
    }
}

.homepage .contact-list a {
    color: #ffffff;
    
    position: relative;
    z-index: 2;

    display: inline-flex;
    align-items: center; 
    gap: 25px;
}

.homepage .contact-list li {
    position: relative;
    line-height: 1;
}

.homepage .contact-list .icon-placeholder {
    inline-size: 4rem;
    block-size: 100%;
    
    position: absolute;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (width <= 750px) {
        inline-size: 3rem;
    }
}

.homepage .contact-list .icon-foreground {
    inline-size: 4rem;
    block-size: auto;

    @media (width <= 750px) {
        inline-size: 3rem;
    }
}

.homepage .contact-list .icon-background {
    inline-size: 9rem;
    block-size: auto;
    max-inline-size: none;

    position: absolute;

    @media (width <= 750px) {
        inline-size: 7rem;
    }
}

.homepage .themed-gradient {
    background-image: url("../images/Blue_Gradient.png");
    background-size: contain;
    background-repeat: repeat-x;

    block-size: 10rem;
}

.homepage .themed-gradient.flipped {
    transform: rotate(180deg);
    transform: scaleY(-1);
}

/* Homepage Utility Classes */
.homepage .h2-align-top-vertically {
    @media (width > 750px) {
        position: relative;
        top: -15px;
    }
}

/* Theme Pink Black */
.theme-pink-black .themed-gradient {
    background-image: url("../images/Blue_Gradient.png");
    background-size: contain;
    background-repeat: repeat-x;

    block-size: 10rem;
}
